body {
    font-family: Rubik, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(36, 40, 49);
    margin: 0;
    
}

.player {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 10rem;
    border-radius: 4px;
    justify-content: space-between;
    font-size: 10px;
    background-color: rgb(238, 238, 238);
}

.player .superior {

    display: flex;
    flex-direction: column;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex: 0.9;
    gap: 3px;
   
}

.player .superior .informacoes {

    display: flex;
    flex: 0.8;
    
}

.player .superior .informacoes .localImagem {

    border: solid;
    display: flex;
    color: rgb(68, 68, 68);
    flex: 0.2;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    

}

.player .superior .informacoes .localImagem .imagem {

    border-radius: 4px;
}



.player .superior .informacoes .titulos {

    display: flex;
    flex-direction: column;
    flex: 0.8;
    justify-content: center;
    gap: 5px;
    
}

.player .superior .informacoes .titulos .titulo1 {

   color: rgb(204, 50, 50);
   font-weight: 600;
    
}

.player .superior .informacoes .titulos .titulo2 {

   color: rgb(133, 130, 130);
   font-weight: 500;
    
}

.player .superior .informacoes .titulos .titulo3 {

   color: rgb(66, 66, 66);
   font-weight: 500;
    
}

.player .superior .barraTempo {

    display: flex;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    flex: 0.1;
    background-color: rgb(230, 170, 170);
    border-radius: 3px;

    
}

.player .superior .barraTempo .barraTempoDecorrido {

background-color: rgb(177, 25, 25);
width: 50%;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;

    
}

.player .superior .tempo {

    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    color: blue;
    flex: 0.1;
    align-items: center;
    font-size: 7px;
    color: rgb(100, 100, 100);
    font-weight: 500;
    
}

.player .inferior {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0.2;
    background-color: rgb(212, 212, 212);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}